@font-face {
  font-family: "Tenorite";
  src: url(../fonts/Tenorite.ttf);
}
@font-face {
  font-family: "League-spartan";
  src: url(../fonts/LeagueSpartan-Regular.ttf);
}

body {
  font-family: Tenorite !important;
  font-size: 18px !important;
}
#promo-modal .modal-content {
  background: #fdd2000f !important;
  border: solid 1px #f3b134 !important;
}
#promo-modal .modal-header {
  border-bottom: none;
  padding: 10px 15px;
}
#promo-modal.show .modal-dialog {
  margin-left: 1rem !important;
  width: 20% !important;
}
.promo-modal-close {
  font-size: 2rem;
  color: white !important;
  opacity: 1 !important;
}
.main-container {
  content: "";
  background-size: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 48.4375rem;
}
.main-container:after {
  background-color: #083f4a;
  opacity: 0.8;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
}
.container-opt {
  text-align: center;
  position: relative;
  z-index: 30;
  color: #fff;
  width: 90%;
  margin-left: 5%;
}
.content-left {
  text-align: center;
}
.upper-yellow {
  color: #f3b134;
  text-transform: uppercase;
  font-family: League-spartan !important;
}
.title-list {
  font-family: League-spartan !important;
}
.ml-3rem {
  margin-left: 3rem;
}
.mt-15 {
  margin-top: 15px;
}
.white {
  color: white;
  margin-bottom: 5px;
  font-family: League-spartan !important;
}
.box-form-contact {
  margin-top: 15px;
  background-color: #022228d6;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.box-optimania-info {
  text-align: start;
  margin-bottom: 25px;
  font-size: 0.8rem;
  color: #8d8d8d;
}
.send-form-contact-btn {
  width: 40%;
  margin-top: 10%;
  color: white !important;
}
.pd-right-5 {
  padding-right: 5px !important;
}
.pd-left-5 {
  padding-left: 5px !important;
}
.main-content .section {
  padding: 0 !important;
}
.box-car {
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  font-size: 30px;
  color: #26b7b4;
  border: solid 3px #fcc401;
  font-weight: bold;
}
.heure-min-txt {
  text-transform: uppercase;
  color: #f1d42c;
}
.mt-45-mb-25 {
  margin-top: 45px;
  margin-bottom: 25px;
}
.mt-45-mb-25 b {
  font-size: large;
}
.align-start {
  text-align: start;
}
.align-center {
  text-align: center;
}
.form-title {
  padding: 10px 35px 15px 35px;
}
.stop {
  background: linear-gradient(white, white) center center/60% 40% no-repeat;
  color: red;
  font-size: 18px !important;
}
.check {
  background: linear-gradient(white, white) center center/75% 50% no-repeat;
  color: #0dea5a;
  font-size: 18px !important;
}
.thumb {
  width: 18px;
}
.flex {
  display: flex;
  align-items: center;
}
.text-thumb {
  margin-bottom: 0;
  margin-left: 5px;
}
.cbon {
  margin-bottom: 1rem;
}
.box-video {
  margin-top: 4rem;
}
video {
  background-image: url("../images/preview.jpeg");
  background-position: center center;
  background-size: contain;
  /* border: solid 1px #fcc401; */
}
.btn-plus {
  border-radius: 35px !important;
  background: #25b5b6 !important;
  border-color: #25b5b6 !important;
  font-weight: 500 !important;
  color: white;
}
.btn-solutions {
  width: 100%;
  white-space: break-spaces !important;
  padding: 0.5rem 2rem !important;
  border-radius: 35px !important;
  background: #fcc401 !important;
  border-color: #fcc401 !important;
  font-weight: 500 !important;
  color: white;
  /* animation: hideshowclock 4s ease infinite; */
}
.box-solutions {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.parlons-en {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.space-around {
  align-items: center;
  justify-content: space-around;
}
/* .div-reseau{
  border-radius: 10px;
  background-color: white;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
} */
.div-reseau span i {
  color: #26b7b4;
  font-size: 40px;
}
.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.phone-mail-div {
  margin: 3rem 0;
}
.phone-mail-div i {
  font-size: 30px;
  color: #ffc000;
}
.row-countdown {
  margin-bottom: 4rem;
}
.ml-10 {
  margin-left: 10px;
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes hideshowclock {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}
.btn-send {
  animation: hideshow 4s ease infinite;
  font-weight: bold !important;
}
.img-promotion {
  animation: hideshow 1.5s ease infinite;
}
.btn-plus {
  border-radius: 10px !important;
  margin-top: 20px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.countdown-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  animation: hideshowclock 2s ease infinite;
}
.clock-canvas {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}
.text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
}
.text .val {
  font-size: 30px;
}
.text .type-time {
  font-size: 13px;
  color: #ffd554;
  padding-top: 40% !important;
}
.countdown-container {
  margin-top: 3rem !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .row-countdown {
    margin-bottom: 0 !important;
  }
  .row-container {
    flex-direction: column-reverse !important;
  }
  .box-icon-reseaux-sociaux {
    display: none !important;
  }
  #promo-modal.show .modal-dialog {
    margin-left: 25% !important;
    width: 50% !important;
  }
  .clock-item {
    margin-bottom: 2rem;
  }
  .text .type-time {
    padding-top: 4rem !important;
  }
  .countdown-container {
    margin-top: 8rem !important;
  }
}
@media (max-width: 767px) {
  .row-countdown {
    margin-bottom: 0 !important;
  }
  .row-container {
    flex-direction: column-reverse !important;
  }
  .box-icon-reseaux-sociaux {
    display: none !important;
  }
  #promo-modal.show .modal-dialog {
    margin-left: 25% !important;
    width: 50% !important;
  }
  .clock-item {
    margin: 0px 30px 30px 30px;
  }
  .text .type-time {
    padding-top: 4rem !important;
  }
  .countdown-container {
    margin-top: 7rem !important;
  }
}
.requiredFieldWrapper::after {
  font-family: "Glyphicons Halflings";
  content: "*";
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 17px;
  font-size: 10px;
  color: red;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideFromTop {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideFromTop {
  animation-name: slideFromTop;
}

.footer-distributed {
  background: #ffc000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 45px 50px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family: Tenorite !important;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff;
  color: #ffc000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
  font-size: 17px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 17px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: underline;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 20px; */
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a,
.modal-form-contact a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  font-size: 20px;
  color: #ffc000;
  text-align: center;
  line-height: 40px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.suivez-nous,
.contact {
  font-size: 22px !important;
  color: white;
}
.contact {
  margin-left: 15px !important;
  margin-bottom: 1rem !important;
  font-weight: bold !important;
}
.div-reseau a {
  display: inline-block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #26b7b4;
  border-radius: 5px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 65px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.phone-mail-div i {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffc000;
  border-radius: 5px;
  font-size: 20px;
  color: #00363e;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 10px;
}

@keyframes trans {
  1% {
    margin-top: 0;
  }
  30% {
    margin-top: 3px;
  }
}
.translate-animation {
  animation: trans 2s ease infinite;
}
.footer-left {
  padding-bottom: 10px;
}
.mail-text {
  font-size: 18px;
}
.phone-text {
  font-size: 22px;
}
.container-opt {
  margin-bottom: 3rem;
}
.modal-form-contact {
  text-align: center;
  border: 4px solid #26b7b4;
}
.suivez-nous-modal {
  border-top: 4px solid #26b7b4;
  padding: 1rem;
}
.merci-modal {
  color: #ffc000;
  margin-bottom: 25px;
}
.content-modal-form {
  padding: 1rem 4rem;
}
.img-footer {
  padding-top: 10px;
}
.plus-de-temps {
  color: #26b7b4;
  animation: hideshowclock 3s ease infinite;
}
.parlons-en-txt {
  margin-bottom: 0.5rem;
}
.check,
.stop,
.cbon {
  margin-right: 5px;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.zoom-in {
  transform: scale(0) !important;
  opacity: 0;
  -webkit-transition: 1.5s all 0s;
  -moz-transition: 1.5s all 0s;
  -ms-transition: 1.5s all 0s;
  -o-transition: 1.5s all 0s;
  transition: 1.5s all 0s;
  display: block !important;
}

.zoom-in.show {
  opacity: 1;
  transform: scale(1) !important;
  transform: none;
}
.plus-que {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}
.title-p {
  color: #ffc000;
}
